h1{
    font-size: 20px;
}
div{
    width: 800px;
    height:800px;
    
}
.u{
    width: 250px;
    height: 250px;
    display: inline-block;
}
img{
    display: inline-block;
}
.h{
    position: relative;
    bottom: 25px;
    color: #fff;
    left: 158px;
}
hr{
    width:100px;
    border: 1px solid black;
    margin-left: 1px;
} 